//sass for the main chatbox

@import "variables";

.chatBox{
    min-height:80vh;
}
.sidePanel{
	button{
		width: 33%;
	}
	.menuButton{
		width:33%;
	}
	
}
.userPanel{
	button{
		width: 100%
	}
}
.chatsPanel{
	button{
		width:100%;
	}
	color: $dark-primary;
}
$totalChatHeight: 100vh;
$submitHeight: 10vh;
//for the chat log (the messages)
#logBox{
    width:100%;
	min-height: $totalChatHeight - $submitHeight;
	overflow: auto;
	background-color: #e1cbbe;
	height: $totalChatHeight - $submitHeight;
    .message{
        p{
            width:100%;
			
        }
    }
   .own-message{
		background-color: $light-blue;
		border: 3px solid $light-blue;
		color: $dark-primary;
		border-radius:4px;
		width:40%;
		padding-left: 15px;
		margin-top: 20px;
    } 

   .other-message{
       text-align:left ;
		background-color: $dark-primary;
		border: 3px solid $dark-primary;
		color: $light-blue;
		border-radius:4px;
		width:40%;
		margin-left:60%;
		margin:10;
		padding-left: 15px;
		margin-top: 20px;
    }
}
//sass for the submit (the area you type a message in
#submitBox{
    width:100%;
	min-height: $submitHeight;
	height: $submitHeight;
	form{
		height:100%;
	}
    input{
        width:80%;
        margin-left:0;
        height:100%;
        padding:none;
    }
    button{
        width:20%;
        height:100%;
        border-right: none;
        border-left: none;
        border-bottom:none;
        border-top: 2px solid black;
        background: #f5f5f5;
        padding:none;
    } 
}
.songPanel{
	.artistName{
		color: $dark-primary;
	}
	.selected{
		background-color: $dark-accent;
	}
	h1{
		text-align: center;
	}
}
.noteInput{
	background-color: $main-brand;
	width:100%;

}





